.Page {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.Resume,
.Back {
    position: absolute;
    left: 20px;
    cursor: pointer;
    font-size: 2rem;
}

.Resume {
    bottom: 50px;
}

.Back {
    bottom: calc(70px + 2rem);
}

.Anamnesis {

}

.Question {

}

.Start {

}

.Header,
.SubHeader {
    font-family: 'DM Serif Display', serif;
}

.Header {
    font-size: 2.7rem;
    line-height: 3.5rem;
    max-font-size: 30px;
}

.SubHeader {
    margin-top: 10px;
}

.Answers {
    position: absolute;
    bottom: 90px;
    right: 1rem;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
}

.Answer {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.AnswerSelect,
.AnswerTextInput {
    text-align: center;
    width: 100%;
    margin: 150px auto;
    display: flex;
    justify-content: center;
}

.NoAnswer {
    font-size: 0.8em;
    position: absolute;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    display: block;
    padding: 3px 10px;

    transition: background .1s ease;
}

.NoAnswerSelected {
    background: #FFECC3;
    border-radius: 10px;
    animation: select .1s ease;
}

@keyframes select {
    0% {
        transform: scale(1);
    }
    66% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.ResumeButton {
    position: absolute;
    bottom: 50px;
    right: 20px;
}

.AnswerInput {
    z-index: -100;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2em;
    transition: opacity 0.5s ease;
}

.Show {
    opacity: 1;
    z-index: auto;
}

.SlideUp {
    transform: translateY(-3em);
    animation: slide-up 0.3s ease;
}

.SlideDown {
    transform: translateY(0);
    animation: slide-down 0.3s ease;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3em);
    }
    100% {
        transform: translateY(-3em);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-3em);
    }
    50% {
        transform: translateY(-3em);
    }
    100% {
        transform: translateY(0);
    }
}

.Hide {
    opacity: 0;
}

.SaveArea {
    width: calc(100% - 40px);
    display: block;
    text-align: center;
    position: absolute;
    bottom: 100px;
}

.EndPageHeader {
    width: calc(100% + 40px);
    transform: translate(-20px, -20px);
}