.Questionnaire {
    color: #252A7C;
    margin: 2.5rem;
    animation: transform 0.3s linear;
}

.Questionnaire .Active {

}

.Header {
    font-family: 'DM Serif Display', serif;
    font-size: 2.7rem;
}

.SubHeaderInfo {
    font-family: 'DM Serif Display', serif;
    margin-top: 1rem;
}

.Large {
    font-size: 3.5rem;
}

.QButton {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
}

.QPage {
    height: 90%;
}

.StartPage {

}

.YesNoPage {

}

.YesBubble {

}

.NoBubble {
    margin: 0.8rem 0;
}

.NoAnswer {

}

.Answers {
    position: absolute;
    bottom: 15%;
    right: 1rem;
    text-align: right;
}