.Questionnaire {
    font-family: 'DM Serif Display', serif;
    color: #252A7C;
    margin: 2.5rem;
}

.Header {
    font-size: 2.7rem;
}

.Large {
    font-size: 3.5rem;
}

.QButton {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
}