.AddDayItem {
    z-index: 4;
    width: 5rem;
    height: 5rem;
    border-radius: 13px;
    background: #fb4b62;
    color: #fff;
    text-align: center;
    margin: 0 0.4rem 0;
}

.AddSymbol {
    font-family: Barlow;
    font-size: 3rem;
    font-weight: bolder;
    margin: auto;
}

.AddDescr {
  font-size: 1em;
    margin-top: -1rem;
}

