.Button {
    background-color: #FB4B62;
    border-radius: 100px;
    border: none;
    height: 2rem;
    margin: 1rem;
    padding: 1.5rem 2rem;
    vertical-align: center;
    text-align: center;
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 1.3rem;
}

.Button div {
    margin-left: auto;
    margin-right: auto;
}